#changelog {
    padding: 0 15%;
    padding-bottom: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: white;
    z-index: 2;

    > header {
        justify-content: space-between;
        padding: 1rem 0;

        > img {
            width: 5rem;
		}

		> h5 {
			margin: auto;
		}

		> i {
			&:hover {
				color: black;
			}

			color: $secondary-text;
			cursor: pointer;
		}
    }

    > ul > li {
        padding-top: 1rem;

        h5 {
            text-align: center;
            width: 100%;
        }

        p {
            font-size: 120%;
        }
    }

    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

@include dark-mode {
    #changelog {
        background-color: $dark-mode-light-background;

        > header > i {
            color: $dark-mode-secondary-text;

            &:hover {
                color: inherit;
            }
        }
    }
}
