#preamp-menu {
	width: auto !important;
	.divider {
		background-color: $divider-color;
	}

	li > a {
		color: $action-color;
	}
}

@include dark-mode {
	#preamp-menu {
		background-color: $dark-mode-dark-background;

		> li {
			&:hover {
				background-color: $dark-mode-light-background;
			}

			> a {
				color: $dark-mode-action-color;
			}
		}
	}
}
