.modal-overlay {
	z-index: 3002 !important;
}

.modal {
	z-index: 3003 !important;
}

@include dark-mode {
    #preamp-settings {
		background-color: $dark-mode-light-background;
		
		footer {
			> p {
				color: $dark-mode-secondary-text;
			}

			> a {
				color: $dark-mode-action-color;
			}
		}
    }
}

#preamp-settings {
	> .modal-content {
		padding: 0.5rem 2rem;

		> h4 {
			margin: 0;
			padding: 2rem 0.5rem;
		}

		> *:not(:last-child) {
			border-bottom: 1px solid $divider-color;
		}

		> footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 130%;
			padding: 1rem 0 0.5rem 0;

			> p {
				padding: 0 0.5rem;
				color: $secondary-text;
			}
		
			> a {
				display: flex;
				align-items: center;
				color: $action-color;
		
				> img {
					margin-left: 1rem;
					height: 5rem;
				}
			}
		}
	}
}


#crossover-settings {
	> h5 {
		padding: 1rem 0 0 0.5rem;
	}

	> ul {
		display: flex;
		justify-content: center;
		padding: 1rem 2rem 2rem 2rem;
		
		> li {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;

			&:last-of-type {
				justify-content: flex-end;
			}

			p {
				padding: 0.5rem 1rem;
			}

			input {
				border: 1px solid $divider-color;
				border-radius: 2px;
				padding: 0.5rem;
				text-align: center;
			}

			button {
				background-color: $dark-primary-color;
			}
		}
	}
}

#xover-setting-slider {
	margin: 6rem 2rem;

	.noUi-value-horizontal {
		margin-top: 1rem;
	}
	
	.noUi-tooltip, .noUi-handle {
		background-color: $primary-color !important;
	}
}

#reset-settings {
	display: flex;
	align-items: center;
	padding: 2rem 0.5rem;

	> h5 {
		margin: 0 auto 0 0;
	}

	> button {
		margin: 0 1rem;
		background-color: $dark-primary-color;
	}
}
