#xover {
	> section {
		margin: 0;
	}

	> ul:first-of-type {
		display: flex;
		justify-content: space-around;
		margin: 1rem 0;

		> li {
			display: flex;
			flex-direction: column;
			align-items: center;

			> * {
				padding: 1rem 0;
			}
		}
	}
}

@include dark-mode {
    #xover {
        > ul > li > h5 {
            color: $dark-mode-secondary-text;

            > a {
                color: $dark-mode-action-color;
            }
        }

        .xover-volumes div {
            color: $dark-mode-secondary-text;
        }
    }
}

.xover-volumes { 
	* {
		outline: none !important;
	}

	border: none;
	box-shadow: none;
	border-bottom: 1px solid $divider-color;
	padding-bottom: 1rem;

	> header > i {
		width: 100%;
		margin: auto;
		text-align: center;
		cursor: pointer;
		font-size: 1.6rem;
	}

	&.open > header > i {
		transform: rotate(180deg);
	}

	> section {
		@extend %collapsible;

		> ul {
			display: flex;
			justify-content: space-around;
			padding: 1rem 0 2rem 0;
	
			> li {	
				> div {
					height: 14rem;
					
					> * {
						margin: auto;
					}
					
					&.noUi-vertical .noUi-handle {
						background-color: $primary-color !important;
					}
		
					.noUi-base {
						margin-left: -1px;
					}
				}
			}
		}

		> div {
			padding-bottom: 1rem;
		}
	}
}
