$primary-color: #ef5350;
$dark-primary-color: #b71c1c;
$divider-color: rgba(160, 160, 160, 0.2);
$dark-mode-secondary-text: #aaa;
$secondary-text: #606060;
$action-color: #039be5;
$dark-mode-action-color: #26a69a;
$dark-mode-light-background: #303030;
$dark-mode-dark-background: #181818;
