@mixin make-tooltip($text) {
    position: relative;

    &::after {
        opacity: 0;
        content: "";
        display: block;
        visibility: hidden;
        white-space: nowrap;
        background-color: #595959;
        color: white;
        text-align: center;
        border-radius: 1px;
        padding: 0.6rem 0.5rem;
        font-size: 75%;
        position: absolute;
        z-index: 1;
        bottom: 140%;
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover::after {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.1s linear 0.7s;
        content: $text;
    }
}

@mixin dark-mode {
    :host([dark]) {
        @content;
    }
}

%collapsible {
	transition: max-height 0.35s ease-in-out, padding 0.35s ease-in-out;
}
