@import "lib/materialize/materialize.scss";
@import "utils";
@import "config";
@import "sections/menu";
@import "sections/settings";
@import "sections/xover";
@import "sections/changelog";

:host {
    font-size: 10px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.collapsible-header {
	background-color: inherit;
}

@include dark-mode {
	#preamp-panel > header > i {
		color: $dark-mode-secondary-text;

		&:hover {
			color: inherit;
		}
	}

	label {
		color: $dark-mode-secondary-text;
	}

	#delay, #dubsiren {
		input {
			border-color: transparent;
			outline-color: transparent;
		}

		p {
			color: $dark-mode-secondary-text;
		}
	}
}

@media only screen and (max-width: 992px) {
	#preamp-panel {
		padding: 0 8%;
	}
}

#preamp-panel {
	padding: 0 15%;
	position: relative;
	user-select: none;

	h5 {
		font-size: 1.64em;
	}

    > header {
        justify-content: space-between;
        padding: 1rem 0;
		border-bottom: 1px solid $divider-color;
		
		&.close {
			border-bottom: none;
		}
        
        > img {
            width: 5rem;
		}

		> h5 {
			margin: auto;
		}

		> i {
			&:hover {
				color: black;
			}

			color: $secondary-text;
			cursor: pointer;
		}
    }
}

#preamp-body {
	@extend %collapsible;

	border: none;
	padding: 2rem 0;
	
	> section {
		padding: 1rem 0;
	}

	section.switch {
		> h5 {
			margin: 0;
		}

		> label {
			justify-content: flex-end;
		}
	}
}

#delay, #dubsiren {
	> section:last-of-type {
		@extend %collapsible;

		> section {
			margin-bottom: 0;
		}
	}
}

#delay > section:first-of-type > h5 {
	&.close {
		@include make-tooltip("Double click to expand");
	}

	&.open {
		@include make-tooltip("Double click to collapse");
	}
}

#dubsiren {
	> section:first-of-type h5 {
		margin: 0;

		&.close {
			@include make-tooltip("Double click to expand");
		}

		&.open {
			@include make-tooltip("Double click to collapse");
		}
	}

	button {
		@extend .grey;
		margin-left: auto;

		&:active {
			background-color: $dark-primary-color !important;
		}
	}
}

.material-icons::selection {
	background-color: transparent;
}

input[type=range] { // dont merge the two rules otherwise will not work
	&::-webkit-slider-thumb {
		background-color: $primary-color !important;
	}

	&::-moz-range-thumb {
		background-color: $primary-color !important;
	}
	
	&+.thumb {
		background-color: $primary-color !important;
	}
}

.switch label {
	input[type=checkbox] {
		&:checked+.lever {
			background-color: $primary-color !important;
			
			&::after {
				background-color: $dark-primary-color !important;
			}

			&.vertical {
				&:after, &:before {
					top: 24px;
					left: -3px;
				}
			}
		}

		&+.lever.vertical {
			&:after, &:before {
				left: -3px;
				top: -5px;
				transition: top 0.3s ease, background .3s ease, box-shadow 0.1s ease;
			}
		}
	}
	
	.lever.vertical {
		height: 40px !important;
		width: 15px !important;
	}
}
