@import "utils";
@import "config";

#preamp-wrapper {
	margin: 0.5rem;
	margin-bottom: 2rem;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0
		rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}

html[dark] #preamp-wrapper {
	background-color: $dark-mode-light-background;
	color: white;
}
